:root {
	--main-color: #fff;
	--main-bg-color: #f2f2f2;
	--main-blue: #3ec4f0;
	--main-blue-darken: #0e92be;
	--main-orange: #ff8566;
	--main-orange-darken: #ff5c33;
	--main-green: #36fce2;
	--main-green-darken: #03b099;
	--main-grey: #cccccc;
	--main-grey-medium: #b3b3b3;
	--main-grey-darken: #808080;
	--main-dark-grey: #404040;
	--main-yellow: #f8ef6d;
	--main-yellow-darken: #f4e40b;
	--main-close: #ff0000;
	--main-bg-black-tr: #000;
	--facebook: #3c5a99;
	--instagram: #231F20;
	--youtube: #FF0000;
	--twitter: #38A1F3;
	--smiley-red: #ff0000;
	--smiley-orange: #ff8000;
	--smiley-yellow: #fdea02;
	--smiley-limegreen: #80c000;
	--smiley-green: #008000;
	--font-awesome-blue: #228be6;
	--font-awesome-green: #20c997;
	--bootstrap-purple: #563d7c;
	--bootstrap-purple-light: #cbbde2;
	--jquery-blue: #0769AD;
	--jquery-light-blue: #7ACEF4;
	--angular-blue: #1976d2;
	--angular-red: #dd0031;
	--vue-green: #41b883;
	--vue-grey: #35495e;
	--react-blue: #61dafb;
	--react-black: #20232a;
	--less: #1d365d;
	--sass: #cf649a;
	--node: #026e00;
	--npm: #ca3837;
	--yarn: #2c8ebb;
	--gulp: #cf4647;
	--github: #333333;
	--ember: #e04e39;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: var(--main-color);
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

/* main navbar start */

.navbar {
  background-color: var(--main-grey);
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	height: 50px;
}
.navbar li {
	display: inline-block;
	overflow: hidden;
}
.navbar a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px 16px;
  font-size: 20px;
  transition: background-color 0.3s;
  line-height: 20px;
  background-color: var(--main-grey);
}
.navbar a:hover {
 	color: var(--main-color);
}

/* active start */

li.active a {
  color: var(--main-orange-darken);
}
/* opciono spustiti na kraj da bi bio najjaci */

/* active end */

/* home start */

.home a {
  background-color: var(--main-orange);
  font-size: 24px;
	line-height: 20px;
	padding: 13px;
}
.home a:hover {
	background-color: var(--main-orange-darken);
 	color: var(--main-color);
}
.home a:active {
 	color: black;
}

/* home end */


/* menu icon start */

li.menu-bar {
	display: none;
	float: right;
	height: 50px;
}
li.menu-bar:hover {
	background-color: inherit;
}
.menu-bar-icon {
	cursor: pointer;
}
.menu-bar-icon:hover .bar1 {
	background-color: var(--main-orange);
}
.menu-bar-icon:hover .bar2 {
	background-color: var(--main-orange);
}
.menu-bar-icon:hover .bar3 {
	background-color: var(--main-orange);
}
.bar1 {
	width: 42px;
	height: 4px;
	background-color: black;
	margin: 11px 8px 8px 8px;
	transition: transform 0.4s, background-color 0.3s;
}
.bar2 {
	width: 36px;
	height: 4px;
	background-color: black;
	margin: 8px;
	transition: transform 0.4s, background-color 0.3s;
	transform: translate(6px, 0);
}
.bar3 {
	width: 30px;
	height: 4px;
	background-color: black;
	margin: 8px 8px 11px 8px;
	transition: transform 0.4s, background-color 0.3s;
	transform: translate(12px, 0);
}
.menu-bar-open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-10px, 10px) ;
 		transform: rotate(-45deg) translate(-8.5px, 8.5px) ;
}
.menu-bar-open .bar2 {
	opacity: 0;
}
.menu-bar-open .bar3 {
	-webkit-transform: rotate(45deg) translate(-10px, -10px) ;
 		transform: rotate(45deg) translate(-8.5px, -8.5px) ;
 		width: 42px;
}

/* menu icon end */

/* user-area start */

li.user-area {
	float: right;
	display: block;
	overflow: visible;
}
.log-in, a.sign-up {
	text-align: center;
  padding: 15px 16px;
  height: 50px;
  font-size: 20px;
  transition: all 0.3s;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}


/* login start */

.log-in {
	background-color: var(--main-green);
}
.log-in .fa-sign-in-alt {
	transition: all 0.3s;
}

.log-in-text {
	position: absolute;
	top: 0;
	font-size: 16px;
	width: 52px;
	text-align: center;
	left: 0;
	margin: 0;
	color: var(--main-color);
	background-color: var(--main-grey-darken);
	opacity: 0;
	display: block;
	transition: opacity 0.3s;
	-moz-user-select: none;
	user-select: none;
}

.log-in:hover {
	background-color: var(--main-green-darken);
	color: var(--main-color);
}

.log-in:hover .fa-sign-in-alt {
	transform: translate(0, 10px);
}

.log-in:hover .log-in-text {
	opacity: 1;
}
/* login end */

/* sing in popup start */

a.sign-up  {
	background-color: var(--main-blue);
}

a.sign-up .fa-user-plus {
	transition: all 0.3s;
}

.sign-up-text {
	position: absolute;
	top: 0;
	font-size: 16px;
	width: 57px;
	text-align: center;
	left: 0;
	margin: 0;
	color: var(--main-color);
	background-color: var(--main-grey-darken);
	opacity: 0;
	display: block;
	transition: opacity 0.3s;
	-moz-user-select: none;
	user-select: none;
}

a.sign-up:hover {
	background-color: var(--main-blue-darken);
	color: var(--main-color);
}

a.sign-up:hover .fa-user-plus {
	transform: translate(0, 10px);
}

a.sign-up:hover .sign-up-text {
	opacity: 1;
}

/* sing in popup end */

/* user-area end */

@media screen and (max-width: 800px) {
  .navbar li:not(.home) {
    display: none;
  }
  .navbar li.menu-bar {
  	display: block;
  }

}

/* log in popup start */

.log-in-popup {
	width: 300px;
	background-color: var(--main-color);
	border: 2px solid var(--main-green-darken);
	position: absolute;
	top: 50px;
	right: 61px;
	overflow: hidden;
	display: none;
	z-index: 199;
	transition: all 0.5s;
}
.log-in-popup form {
	margin: 5px;
}
.log-in-popup-open {
	display: block;
}
.form-info-element {
	margin: 5px 5px 10px;
}
.form-info-element h2 {
	color: var(--main-green-darken);
	margin: 0;
}
.log-in-popup-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	padding: 5px 10px;
	color: var(--main-green-darken);
}
.log-in-popup-close:hover {
	color: var(--main-close);
}
.form-data-element {
	margin: 5px;
}
.log-in-input {
	width: 100%;
	border: 2px solid var(--main-green-darken);
	margin-bottom: 5px;
	font-size: 16px;
	padding: 5px;
}
.log-in-input:focus {
	border: 2px solid var(--main-orange);
}
.form-send-element {
	text-align: center;
	margin: 5px;
}
.log-in-button {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px;
	color: var(--main-green-darken);
	background-color: var(--main-color);
	border: 2px solid var(--main-green-darken);
	outline: none;
	transition: all 0.2s;
	cursor: pointer;
}
.log-in-button:hover {
	color: var(--main-color);
	background-color: var(--main-green-darken);
}
.log-in-button:active {
	transform: translate(0, 3px);
}
a.log-in-help {
	color: var(--main-dark-grey);
	font-size: 16px;
	background-color: initial;
	display: inline-block;
	padding: 0;
	margin-top: 10px;
	height: 33px;
	line-height: 33px;
}
a.log-in-help:hover {
	text-decoration: underline;
	color: var(--main-dark-grey);
	background-color: transparent;
}
@media screen and (max-width: 800px) {
	.log-in-popup {
		right: 50%;
		transform: translate(50%, 0);
	}
}
/* log in popup end */

/* main navbar end */


/* side navbar start */

.side-nav {
	background-color: var(--main-grey);
	width: 230px;
	overflow: hidden;
	position: fixed;
	right: -230px;
	top: 50px;
	transition: right 0.4s;
	z-index: 999;
}
.side-nav ul {
	text-decoration: none;
	padding-left: 0;
	margin: 0;
}
.side-nav a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px 16px;
  height: 50px;
  font-size: 20px;
  transition: background-color 0.3s;
  line-height: 20px;
  background-color: var(--main-grey);
}
.side-nav a:hover {
 	background-color: var(--main-grey-darken);
 	color: var(--main-color);
}
.side-nav.open {
	right: 0;
}
.side-nav-home a {
	background-color: var(--main-orange);
}
.side-nav-home a:hover {
	background-color: var(--main-orange-darken);
}
.side-nav-home a:active {
	color: black;
}
.side-nav-log-in a {
	background-color: var(--main-green);
}
.side-nav-log-in a:hover {
	background-color: var(--main-green-darken);
}
.side-nav-log-in a:active {
	color: black;
}
.side-nav-sign-up a {
	background-color: var(--main-blue);
}
.side-nav-sign-up a:hover {
	background-color: var(--main-blue-darken);
}
.side-nav-sign-up a:active {
	color: black;
}

/* side navbar end */

/* main area start */

.main-area {
	background-color: var(--main-bg-color);
}
.main {
	display: flex;
	font-family: "Comic Sans MS";
}
.main-body {
	flex: 1 1 70%;
	display: flex;
	flex-direction: column;
}

.main-aside {
	flex: 1 1 30%;
}
@media screen and (max-width: 800px) {
	.main {
		flex-direction: column;
	}
	.main-body {
		flex: 1 1 100%;
	}

	.main-aside {
		flex: 1 1 100%;
	}
}

/* slideshow start */

.slideshow {
	position: relative;
	margin: 30px 30px 10px 30px;
	flex: 1 1 auto;
}
.slides {
	position: relative;
	height: 350px;
	overflow: hidden;
	border-radius: 7px;
}
.slide {
	height: 100%;
}
.fade {
	animation: fade-animation 1.5s;
}
@keyframes fade-animation {
	from { opacity: 0.5 }
	to { opacity: 1 }
}
.slideshow-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
	cursor: grab;
}
.slideshow-image:active {
	cursor: grabbing;
}
.slides-dots {
	text-align: center;
	padding: 10px;
}
.slides-dot {
	display: inline-block;
	height: 16px;
  width: 16px;
  margin: 0 6px;
  background-color: var(--main-grey-darken);
  cursor: pointer;
  border-radius: 50%;
}
.slides-dot-active {
	background-color: var(--main-orange);
}
.slideshow-prev, .slideshow-next {
	border: none;
	outline: none;
	color: var(--main-orange);
	background-color: transparent;
	padding: 0;
	user-select: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.slideshow-prev {
	left: 15px;
}
.slideshow-next {
	right: 15px;
}
.slideshow-prev:hover, .slideshow-next:hover {
	color: var(--main-orange-darken);
}
.slideshow-prev:active {
	color: var(--main-dark-grey);
	left: 10px;
}
.slideshow-next:active {
	color: var(--main-dark-grey);
	right: 10px;
}
@media screen and (max-width: 800px) {
	.slideshow {
		margin: 20px;
	}
}
@media screen and (max-width: 600px) {
	.slides {
		height: 260px;
	}
}
@media screen and (max-width: 400px) {
	.slideshow {
		margin: 10px;
	}
	.slides {
		height: 180px;
	}
}
/* slideshow end */

/* article container start */
.article-container {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.article {
	width: 300px;
	border-radius: 7px;
	overflow: hidden;
	background-color: var(--main-color);
	margin: 20px;
	box-shadow: 1px 1px 2px var(--main-grey);
	transition: transform .1s linear;
}
.article:hover {
	box-shadow: 2px 2px 4px var(--main-grey);
	transform: scale(1.05);
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
	.article {
		width: 500px;
		margin: 5px;
		margin-bottom: 15px;
	}
}
@media screen and (min-width: 700px) and (max-width: 800px) {
	.article {
		width: 300px;
		margin: 20px;
	}
}
@media screen and (min-width: 650px) and (max-width: 700px) {
	.article {
		width: 300px;
		margin: 5px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 650px) {
	.article {
		width: 500px;
		margin: 5px 30px;
	}
	.article:last-child {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 400px) {
	.article {
		margin: 10px;
	}
}
.article-header {
	color: var(--main-orange);
	text-align: center;
	box-shadow: 0 2px 3px var(--main-bg-color);
}
.article-header h2 {
	padding: 10px 14px;
	margin: 0;
}
.article-header-link {
	text-decoration: none;
}
.article-body {
	padding: 10px;
}
.content {
	color: var(--main-dark-grey);
}
.content p {
	margin: 0;
}
.content span {
	color: var(--main-orange);
}
.read-more {
	text-align: center;
}
.read-more-link {
	color: var(--main-dark-grey);
	text-decoration: none;
	font-size: 20px;
	transition: color 0.2s;
}
.read-more-link:hover {
	color: var(--main-orange);
}
/* font-awesome */
.font-awesome .article-header-link {
	color: var(--font-awesome-blue);
}
.font-awesome .fa-check-square {
	color: var(--font-awesome-blue);
}
.font-awesome .read-more-link {
	color: var(--font-awesome-blue);
}
.font-awesome .read-more-link:hover {
	color: var(--font-awesome-green);
}
/* bootstrap */
.bootstrap .article-header-link {
	color: var(--bootstrap-purple);
}
.bootstrap-icon {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
}
.bootstrap-icon::before {
	position: absolute;
	content: "";
	width: 22px;
	height: 22px;
	background: url("icons/bootstrap-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
	top: 2px;
	left: 0;
}
.bootstrap .fa-check-square {
	color: var(--bootstrap-purple-light);
}
.bootstrap .read-more-link {
	color: var(--bootstrap-purple-light);
}
.bootstrap .read-more-link:hover {
	color: var(--bootstrap-purple);
}
/* jquery */
.jquery .article-header-link {
	color: var(--jquery-blue);
}
.jquery-icon {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
}
.jquery-icon::before {
	position: absolute;
	content: "";
	width: 22px;
	height: 22px;
	background: url("icons/jquery-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
	top: 2px;
	left: 0;
}
.jquery .fa-check-square {
	color: var(--jquery-light-blue);
}
.jquery .read-more-link {
	color: var(--jquery-light-blue);
}
.jquery .read-more-link:hover {
	color: var(--jquery-blue);
}
/* angular */
.angular .article-header-link {
	color: var(--angular-blue);
}
.angular .fa-angular {
	color: var(--angular-red);
}
.angular .fa-check-square {
	color: var(--angular-red);
}
.angular .read-more-link {
	color: var(--angular-red);
}
.angular .read-more-link:hover {
	color: var(--angular-blue);
}
/* vue */
.vue .article-header-link {
	color: var(--vue-green);
}
.vue .fa-vuejs {
	color: var(--vue-grey);
}
.vue .fa-check-square {
	color: var(--vue-green);
}
.vue .read-more-link {
	color: var(--vue-green);
}
.vue .read-more-link:hover {
	color: var(--vue-grey);
}
/* react */
.react .article-header-link {
	color: var(--react-black);
}
.react .fa-react {
	color: var(--react-blue);
}
.react .fa-check-square {
	color: var(--react-blue);
}
.react .read-more-link {
	color: var(--react-blue);
}
.react .read-more-link:hover {
	color: var(--react-black);
}


/* article container end */

/* aside start */

.aside-heading {
	text-align: center;
	color: var(--main-dark-grey);
}
.aside-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.aside-list-item {
	padding: 0 35px 35px 35px;
	flex: 1 1 100%;
}
.aside-list-link {
	background-color: var(--main-color);
	padding: 25px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.aside-list-link:hover {
	box-shadow: 1px 1px 3px var(--main-grey);
}
.aside-list-link:hover .aside-text {
	color: var(--main-orange);
}
.aside-icon {
	margin-bottom: 5px;
}
.aside-icon .fa-less {
	color: var(--less);
}
.aside-icon .fa-sass {
	color: var(--sass);
}
.aside-icon .fa-node {
	color: var(--node);
}
.aside-icon .fa-npm {
	color: var(--npm);
}
.aside-icon .fa-yarn {
	color: var(--yarn);
}
.aside-icon .fa-gulp {
	color: var(--gulp);
}
.aside-icon .fa-github {
	color: var(--github);
}
.aside-icon .fa-ember {
	color: var(--ember);
}
.aside-text {
	color: var(--main-dark-grey);
	margin-bottom: 5px;
	font-size: 21px;
}
@media screen and (max-width: 800px) {
	.main-aside {
		background-color: var(--main-grey);
	}
	.aside-list {
		padding-left: 20px;
	}
	.aside-list-item {
		flex: 1 1 33.33%;
		padding: 0 20px 20px 0;
	}
	.aside-list-item:last-child {
		margin-bottom: 10px;
	}
	.aside-list-link:hover {
		box-shadow: 1px 1px 3px var(--main-dark-grey);
	}
}
@media screen and (max-width: 600px) {
	.aside-list-item {
		flex: 1 1 50%;
	}
}

/* aside end */

/* main area footer start */
.main-area-footer {
	font-family: Arial, Helvetica, sans-serif;
	padding: 30px;
	color: var(--main-dark-grey);
}
.learning-container {
	overflow: auto;
}
.main-area-footer hr {
	border: 1px solid var(--main-grey);
}
.main-area-footer h3 {
	margin: 20px 0;
}
.learning-left, .learning-right {
	width: 50%;
	float: left;
}
.learning-link {
	display: inline-block;
	color: var(--main-dark-grey);
	text-decoration: none;
	padding: 4px 12px;
}
.learning-link:hover {
	color: var(--main-orange);
}
@media screen and (max-width: 800px) {
	.main-area-footer {
		background-color: var(--main-grey);
		padding: 20px;
	}
	.main-area-footer hr {
	border: 1px solid var(--main-bg-color);
	}
	.learning-link:hover {
		color: var(--main-orange-darken);
	}
}
@media screen and (max-width: 600px) {
	.learning-left, .learning-right {
		width: 100%;
		float: none;
		padding-left: 10px;
	}
}

/* main area footer end */

/* main area end */


/* footer start */

.footer-wrapper {
	background-color: var(--main-grey);
}
.footer {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	bottom: 0;
}

/* footer bottom start */
.footer-bottom {
	background-color: var(--main-grey-darken);
	overflow: auto;
}
.footer-info {
	width: 50%;
	float: left;
	padding: 5px;
}
.footer-info-link {
	color: var(--main-color);
	text-decoration: none;
}
.footer-info-link:hover {
	text-decoration: underline;
}
.footer-info-link:not(:last-child) {
	border-right: 2px solid var(--main-color);
	padding-right: 10px;
}
.footer-info-link:not(:first-child) {
	padding-left: 6px;
}
.footer-info-link:first-child {
	padding-left: 10px;
}
.footer-copyright {
	width: 50%;
	float: left;
	text-align: right;
	color: var(--main-color);
}
.footer-copyright span {
	padding: 5px 15px 5px 15px;
	display: inline-block;
}
@media screen and (max-width: 800px) {
	.footer-info {
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer-copyright {
		float: none;
		width: 100%;
		text-align: center;
	}
}

/* footer bottom end */

/* footer top start */

.footer-top {
	overflow: auto;
	display: flex;
}

/* footer logo start */

.footer-logo {
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: 70px;
}
.footer-logo-link {
	display: block;
	text-decoration: none;
	width: 70px;
	height: 70px;
	line-height: 35px;
	font-size: 35px;
	color: black;
	background-color: var(--main-orange);
	display: flex;
	justify-content: center;
  align-items: center;
  transition: transform 0.4s;
}
.footer-logo-link .fa-home {
	transition: transform 0.4s;
}
.footer-logo-link:hover {
	background-color: var(--main-orange-darken);
}
.footer-logo-link:hover .fa-home {
	transform: scale(1.3);
	color: var(--main-color);
}

/* footer logo end */

/* footer top rest start */

.footer-top-rest {
	flex-shrink: 1;
	flex-grow: 1;
}

/* footer social start */

.footer-social {
	width: calc(100% - 70px);
	height: 70px;
	float: left;
	display: flex;
	background-color: var(--main-grey-medium);
}
.social-follow-us {
	color: black;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: 20%;
	display: flex;
	justify-content: center;
  align-items: center;
}
.social-follow-us-text {
	font-size: 20px;
}
.social-container {
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: 20%;
	display: flex;
	justify-content: center;
  align-items: center;
}
.social-container-link {
	padding: 5px;
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social-container-logo {
	width: 25px;
	height: 25px;
}
.social-text {
	color: var(--main-dark-grey);
	font-weight: bold;
	margin-top: 5px;
}
.social-container-link:hover .social-text {
	color: black;
}
@media screen and (max-width: 800px) {
	.social-follow-us {
		display: none;
	}
	.social-container {
		flex-basis: 25%;
	}
}
@media screen and (max-width: 600px) {
	.social-text {
		display: none;
	}
}

/* footer social end */

/* footer to top start */

.footer-to-top {
	width: 70px;
	height: 70px;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  background-color: #ec79c4;
}
.footer-to-top-link {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	text-decoration: none;
	color: black;
	transition: color 0.4s;
}
.top-link-icon {
	position: absolute;
	top: -3px;
	left: 10px;
	transition: top 0.4s;
}
.top-link-text{
	position: absolute;
	bottom: 2px;
	left: 7px;
	transition: bottom 0.4s;
}
.footer-to-top-link:hover {
	color: var(--main-color);
}
.footer-to-top-link:hover .top-link-icon:nth-child(1) {
	top: -9px;
}
.footer-to-top-link:hover .top-link-icon:nth-child(2) {
	top: 3px;
}
.footer-to-top-link:hover .top-link-text {
	bottom: -4px;
}

/* footer to top end */

/* footer top rest end */

/* footer top end */

/* footer end */


/* feedback start */

.feedback-open {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 134px;
	height: 38px;
	font-weight: bold;
	border: none;
	outline: none;
	background-color: var(--main-yellow);
	font-size: 16px;
	padding: 10px 30px;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 299;
	transition: bottom .3s linear;
}
.feedback-open:hover {
	text-decoration: underline;
}
.feedback-open-animation {
	animation: feedbackButton 1.3s linear infinite;
}
@keyframes feedbackButton {
	0% { color: var(--main-grey-darken); font-size: 16px; }
	50% { color: black; font-size: 18px; }
	100% { color: var(--main-grey-darken); font-size: 16px; }
}
.feedback-body {
	overflow: hidden;
	width: 300px;
	color: var(--main-dark-grey);
	background-color: var(--main-color);
	padding: 10px;
	position: fixed;
	bottom: 49px;
	right: 10px;
	z-index: 299;
	border: 2px solid var(--main-yellow-darken);
	display: none;
	transition: bottom .3s linear;
}
.feedback-body-open {
	display: block;
}
.feedback-body-header {
	margin: 0;
	padding: 10px;
	color: var(--main-orange);
}
.feedback-body-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.feedback-body-close:hover {
	color: var(--main-close);
}
.feedback-form {
	padding: 10px;
}
.feedback-form p {
	margin: 0;
	padding-bottom: 10px;
}
.choice-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 25px;
	position: relative;
}
.rating-row {
	display: inline-block;
}
.rating-row input {
	visibility: hidden;
	position: fixed;
	right: -9999px;
}
.rating-row label {
	cursor: pointer;
}
.error-row {
	color: var(--main-close);
	position: absolute;
	bottom: 4px;
	display: none;
}
.textarea-row label {
	padding-bottom: 10px;
	display: block;
}
.textarea-row textarea {
	display: block;
	resize: none;
	border: 2px solid var(--main-green-darken);
	padding: 3px;
}
.textarea-row textarea:focus {
	border: 2px solid var(--main-orange);
}
.feedback-submit {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px;
	margin-top: 20px;
	color: var(--main-dark-grey);
	background-color: var(--main-bg-color);
	border: 2px solid var(--main-dark-grey);
	outline: 0;
	transition: all .2s;
	cursor: pointer;
}
.feedback-submit:hover {
	background-color: var(--main-yellow);
}
.feedback-submit:active {
	transform: translate(0, 3px);
}
.rating-row.rating-color .fa-angry {
	color: var(--smiley-red);
}
.rating-row.rating-color .fa-frown {
	color: var(--smiley-orange);
}
.rating-row.rating-color .fa-meh {
	color: var(--smiley-yellow);
}
.rating-row.rating-color .fa-smile {
	color: var(--smiley-limegreen);
}
.rating-row.rating-color .fa-laugh {
	color: var(--smiley-green);
}
/* feedback end */

/* sign up start */

.sign-up-container {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-bg-black-tr);
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
}
.sign-up-close {
	padding: 0 6px;
	margin: 10px;
	position: absolute;
	top: 0;
	right: 0;
	color: var(--main-grey-darken);
	cursor: pointer;
}
.sign-up-close:hover {
	color: var(--main-close);
}
.sign-up-wrapper {
	padding: 20px;
	background-color: var(--main-bg-color);
	border: 3px solid var(--main-blue-darken);
	max-width: 800px;
	position: relative;
}
.sign-up-wrapper hr {
	border-color: var(--main-blue);
	width: 90%;
	margin-bottom: 30px;
}

/* heading container start */

.heading-container {
	margin-bottom: 30px;
}
.heading {
	text-align: center;
	color: var(--main-blue-darken);
	margin: 0 0 16px 0;
	font-size: 30px;
}
.heading-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
.heading-p {
	margin: 0 0 8px 0;
}
.terms-link {
	color: var(--main-orange-darken);
	font-weight: bold;
	text-decoration: none;
}
.terms-link:hover {
	text-decoration: underline;
}
@media screen and (max-width: 500px) {
	.sign-up-wrapper {
		padding: 10px;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.heading-container {
		margin-bottom: 20px;
	}
	.heading {
		text-align: left;
	}
	.sign-up-wrapper hr {
		margin-bottom: 20px;
	}
	.heading-hidden {
		display: none;
	}
}

/* heading container end */

/* sign up form container start */

.sign-up-row {
	margin-bottom: 10px;
}
.sign-up-row label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}
.sign-up-row input {
	display: block;
	width: 100%;
  border: 2px solid var(--main-blue-darken);
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
}
.sign-up-row input:focus {
	border: 2px solid var(--main-orange);
}
.sign-up-row-check {
	margin-bottom: 10px;
	position: relative;
}
.sign-up-row-check input {
	visibility: hidden;
	position: fixed;
	right: -9999px;
}
.agree-text {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -9px;
	font-weight: bold;
}
@media screen and (max-width: 500px) {
	.agree-text {
		margin-left: 60px;
		top: -28px;
	}
	.sign-up-row-check {
		margin-bottom: -16px;
	}
}
@media screen and (max-width: 440px) {
	.agree-text {
		top: -36px;
	}
}
/* sign up switch start */

.switch {
	width: 50px;
	height: 30px;
	border: 2px solid var(--main-grey-darken);
	display: inline-block;
	position: relative;
	transition: border 0.3s linear;
	cursor: pointer;
}
.switch-square {
	width: 22px;
	height: 22px;
	background-color: var(--main-grey-darken);
	border: none;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.3s linear, background-color 0.3s linear, transform 0.3s;
}
.switch-on {
	border: 2px solid var(--main-blue-darken);
}
.switch-square-on {
	transform: translate(20px);
	background-color: var(--main-blue-darken);
	transition: 0.3s all;
}

@keyframes on-shadow {
	from { box-shadow: none; }
	to { box-shadow: 0px 0px 10px 5px var(--main-blue-darken); }
}
.switch-square-on-shadow {
	animation-name: on-shadow;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
@keyframes off-shadow {
	from { box-shadow: none; }
	to { box-shadow: 0px 0px 10px 5px var(--main-grey-darken); }
}
.switch-square-off-shadow {
	animation-name: off-shadow;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

/* sign up switch end */

/* button container start */

.sign-up-ok {
	margin: auto;
	margin-bottom: 10px;
	width: 70%;
	display: block;
	font-size: 20px;
	padding: 7px;
	color: var(--main-color);
	background-color: var(--main-blue-darken);
	border: none;
	outline: none;
	transition: all 0.2s;
	cursor: pointer;
	opacity: 0.6;
}
.sign-up-ok:hover {
	opacity: 1;
}
.sign-up-ok:active {
	transform: translate(0, 3px);
}
.sign-up-cancel {
	display: block;
	font-size: 20px;
	margin: auto;
	color: var(--main-dark-grey);
	border: none;
	outline: none;
	transition: all 0.2s;
	cursor: pointer;
}
.sign-up-cancel:hover {
	color: var(--main-close);
}
.sign-up-cancel:active {
	transform: translate(0, 3px);
}
.button-divider {
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
	.sign-up-ok {
		width: 100%;
	}
}
/* button container end */

/* validation class start */

input.invalid-input, .switch-invalid {
	border-color: var(--main-close);
}
.switch-square-invalid {
	background-color: var(--main-close);
}
.required-text {
	color: var(--main-close);
	font-weight: bold;
}

/* validation class start */

/* sign up form container end */

/* image filter start */

.filter-container {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-bg-black-tr);
	z-index: 1001;
	display: none;
	overflow-y: auto;
}
.filter-heading {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	color: var(--main-grey-medium);
}
.filter-close {
	color: var(--main-grey-medium);
	display: inline-block;
	font-size: 55px;
	font-weight: bold;
	padding: 0 16px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.filter-close:hover {
	color: var(--main-close);
}
.heading-text-small {
	display: none;
}
@media screen and (max-width: 600px) {
	.filter-heading {
		left: 0;
		transform: none;
		margin-left: 23.5px;
	}
	.filter-close {
		font-size: 40px;
		padding: 0 11px;
	}
	.heading-text-large {
		display: none;
	}
	.heading-text-small {
		display: inline;
	}
}
/* image container start */

.image-container {
	width: 70%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-holder {
	flex-basis: 90%;
	flex-shrink: 1;
}
@media screen and (max-width: 1100px) {
	.image-container {
		float: none;
		width: 100%;
		height: initial;
		margin-top: 70px;
	}
}
@media screen and (max-width: 600px) {
	.image-holder {
		flex-basis: 100%;
	}
	.image-container {
		margin-top: 60px;
	}
}
/* image container end */

/* edit container start */

.edit-container {
	color: var(--main-grey);
	padding: 10px;
	margin-top: 100px;
	width: 30%;
	float: left;
	overflow: hidden;
}
.edit-section {
	border-bottom: 1px solid var(--main-grey-medium);
	overflow: hidden;
}
.edit-section:first-child {
	border-top: 1px solid var(--main-grey-medium);
}
.edit-right .edit-section:first-child {
	border-top: none;
}
.edit-section-heading {
	display: inline-block;
	margin-left: 15px;
}
@media screen and (max-width: 1100px) {
	.edit-container {
		float: none;
		width: 100%;
		margin-top: 0;
	}
	.edit-left {
		float: left;
		width: 50%;
		padding: 10px;
	}
	.edit-right {
		float: left;
		width: 50%;
		padding: 10px;
	}
	.edit-right .edit-section:first-child {
		border-top: 1px solid var(--main-grey-medium);
	}
}
@media screen and (max-width: 600px) {
	.edit-container {
		padding: 0;
	}
	.edit-left, .edit-right {
		float: none;
		width: 100%;
		padding: 10px;
		padding-bottom: 0;
	}
	.edit-right {
		padding-top: 0;
	}
	.edit-right .edit-section:first-child {
		border-top: none;
	}
	.edit-section-heading {
		margin: 8px 0 8px 8px;
	}
}
/* edit switch start */

.edit-switch {
	width: 60px;
	height: 30px;
	border: 1px solid var(--main-grey);
	border-radius: 15px;
	margin: 15px;
	position: relative;
	float: right;
	background-color: var(--main-dark-grey);
	cursor: pointer;
}
.edit-switch-btn {
	width: 22px;
	height: 22px;
	background-color: black;
	border: none;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 5px;
	transition: all .2s;
}
.edit-switch-click {
	width: 10px;
	height: 10px;
	background-color: black;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 6px;
}
.edit-switch-on {
	background-color: var(--main-orange);
	border-color: var(--main-orange);
}
.edit-switch-btn-on {
	transform: translate(28px);
}
.edit-switch-click-on {
	width: 4px;
	border: none;
	border-radius: 0;
	background-color: var(--main-color);
	left: 9px;
}
@media screen and (max-width: 600px) {
	.edit-switch {
		margin: 4px 8px 4px 0;
	}
}
/* edit switch end */

/* input container start */

.input-container {
	display: none;
}
.input-container-show {
	width: 100%;
	padding: 0 6px;
	margin-bottom: 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.input-range {
	flex: 1 1 80%;
	margin: 2px 4px;
	-webkit-appearance: none;
	height: 10px;
  border-radius: 5px;
  background: var(--main-grey);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.input-range:hover {
	opacity: 1;
}
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--mian-green);
  cursor: pointer;
}
.input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--main-green);
  cursor: pointer;
}
.input-value {
	font-weight: bold;
}

/* input container end */


/* edit container end */

/* image filter end */

/* sign up end */

